header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}

section id="splash" {
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

div {
	float: left;
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
    width: 300px;
    display: inline-block;
    margin-left: 20px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content:" ";
    clear: both;
}


footer {
	background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}