@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

body {
	font-size: 16px;
	position: relative;
}

header {
	padding: 0 9.375em;
}

nav {
	text-align: center;
}

nav a:link {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	text-transform: uppercase;
	margin: 1em 3em 0 3em;
	font-size: 1.5em;
	text-align: center;
	letter-spacing: 0.125em;
	padding-bottom: 0.3125em;

}

nav a:visited {
	color: #fff;
}

nav a:hover {
	border-bottom: 0.125em solid #fff;

}

nav a:active {
	color: #fff;

}

main {
	background-color: #fffff2;
	color: #004c45;
    padding: 3.125em 0;
    padding-right: 5em;
    padding-left: 5em;
}


footer {
	padding: 3.125em 0;
	text-align: center;
	background-color:#004c45;
	color: #fff;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 4em;
	text-align: left;
	padding-top: 3.125em;
	color: #fff;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 2em;
	text-align: left;
	padding: 1.25em 0;
	color: #fff;
	margin-right: 10em;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color: #004c45;
	text-transform: uppercase;
	font-size: 1em;
	margin: 1em;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	line-height: 1.6em;
	text-align: center;
}

a {
	text-decoration: none;
	color: #fffff2;
	display: inline-block;
}


img {
	width: 100%;
}

.clearfix:after{
	visibility: hidden;
	height: 0;
	font-size: 0;
	content:" ";
	display: block;
	clear:both;
}

#do_one {
	margin-top: 3.125em;
	margin-right:5em;
	margin-left:5em;
}

#do_two {
	margin-bottom: 3.125em;
	margin-right:5em;
	margin-left:5em;
}

.work img{
	display: block;
	margin:auto;
}

.work {
	width: 27%;
    margin: 2em;
    float: left;
    color: #004c45;
}

.do img {
	max-width: 100%;
	display: block;
	margin: auto;
}

.do {
	width:33%;
	padding:1em;
	float: left;
	color: #004c45;
}

#splash {
	background:url(../images/cover_image.png) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:750px;
	padding:1.25em 0;
}

.wrapper{
	width: 100%;
    margin-right: auto;
    margin-left:auto;
}

@media only screen and (max-width: 1275px){
	main {
	padding-right: 1em;
    padding-left: 1em;
	}
}

@media only screen and (max-width: 1186px){
	nav a:link {
	margin: 1em 4em 0 4em;
	font-size: 1em;
	}

	h1 {
	font-size: 3em;
	padding-top: 2.5em;
	}

	h2 {
	font-size: 1.4em;
	padding: 1em 0;
	margin-right: 6em;
	}

	#splash {
		height:550px;
	}
}

@media only screen and (max-width: 1060px){
	main{
		padding-right:.8em;
		padding-left: .8em;
	}

	.work {
		width:25%;
	}
}

@media only screen and (max-width: 995px){
	h3{
		font-size:.8em;
	}

	p{
		font-size:.8em;
	}
}

@media only screen and (max-width: 928px){
	nav a:link {
	margin: 1em 2em 0 2em;
	}

	h1 {
	font-size: 2em;
	padding-top: 2.5em;
	}

	h2 {
	font-size: 1em;
	padding: 1em 0;
	margin-right: 4em;
	}

	#splash {
	height:450px;
	}
}

@media only screen and (max-width: 811px){
	.work{
		margin: 1.5em;
	}
}

@media only screen and (max-width: 618px){
	.work {
		float:none;
		margin: auto;
		width: 100%;
	}

	.do{
		float:none;
		margin: auto;
		width: 100%;
	}

	h1 {
	font-size: 1.5em;
	padding-top: 2.5em;
	}

	h2 {
		font-size: .8em;
		margin-right: none;
	}

	#splash {
		background-image: none;
		background-color: #004c45;
		height: 300px;
	}

	header {
	padding: 0 3.125em;
	}

}