@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

body {
	font-size: 16px;
	position: relative;
}

header {
	padding: 0 150px;
}

nav {
	text-align: center;
}

nav a:link {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	text-transform: uppercase;
	margin: 1.5em 3em 0 3em;
	font-size: .8em;
	text-align: center;
	letter-spacing: 0.125em;
	padding-bottom: 0.3125em;

}

nav a:visited {
	color: #fff;
}

nav a:hover {
	border-bottom: 2px solid #fff;

}

nav a:active {
	color: #fff;

}

main {
	background-color: #fffff2;
	color: #004c45;
	padding: 3.125em 0;
}

section {
	padding: 3.125em 0;
}

footer {
	padding: 3.125em 0;
	text-align: center;
	background-color:#004c45;
	color: #fff;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 4em;
	text-align: left;
	padding-top: 3.125em;
	color: #fff;
}

h2, h3 {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color: #004c45;
	text-transform: uppercase;
}

h2 {
	font-size: .8em;
	letter-spacing: 2px;
}

h3 {
	font-size: 1em;
	margin: 1em;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 1.5em;
	text-align: left;
	padding: 1.25em 0;
	color: #fff;
	margin-right: 23.75em;

}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: .8em;
	line-height: 1.2em;
	text-align: center;
}

a {
	text-decoration: none;
	color: #fffff2;
	display: inline-block;
}


img {
	width: 100%;
}

.clearfix:after{
	visibility: hidden;
	height: 0;
	font-size: 0;
	content:" ";
	display: block;
	clear:both;
}

.wrapper {
	background:url(../images/section_background.png) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.do_one {
	margin-top: 3.125em;
	margin-right:5em;
	margin-left:5em;
}

.do_two {
	margin-bottom: 3.125em;
	margin-right:5em;
	margin-left:5em;
}

.work img{
	max-width:300px;
	display: block;
	margin:auto;
}

.work {
	width:30%;
	margin:1.3em;
	padding:2em;
	float: left;
	color: #004c45;
}

.do img {
	max-width: 300px;
	display: block;
	margin: auto;
}

.do {
	width:33%;
	padding:1em;
	float: left;
	color: #004c45;
}

#splash {
	background:url(../images/cover_image.png) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:750px;
	padding:20px 0;
}