@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

body {
	font-size: 16px;
	position: relative;
}

header {
	padding: 0 200px;
}

nav {
	text-align: center;
}

nav a:link {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	text-transform: uppercase;
	margin: 0 3em;
	font-size: .8em;
	text-align: center;
	letter-spacing: 2px;
	padding-bottom: 5px;

}

nav a:visited {
	color: #fff;
}

nav a:hover {
	border-bottom: 2px solid #fff;

}

nav a:active {
	color: #fff;

}

main {
	background-color: #fffff2;
	color: #004c45;
	padding: 50px auto;
}

section {
	padding: 50px auto;
}

footer {
	padding: 50px 0;
	text-align: center;
	background-color:#004c45;
	color: #fff;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 2.5em;
	text-align: left;
	padding: 50px 0 20px 0;
	margin: 200px 0 0;
	color: #fff;
}

h2, h3 {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color: #004c45;
	text-transform: uppercase;
}

h2 {
	font-size: .8em;
	letter-spacing: 2px;
}

h3 {
	font-size: 1em;
	margin: 1em;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 1.5em;
	text-align: left;
	padding: 20px 0;
	color: #fff;

}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: .8em;
	line-height: 1.2em;
}

a {
	text-decoration: none;
	color: #004c45;
}

footer a {
	color: #fffff2;

img {
	width: 100%;
}

.clearfix:after{
	visibility: hidden;
	height: 0;
	font-size: 0;
	content:" ";
	display: block;
	clear:both;
}

.work img{
	max-width:300px;
	display: block;
	margin:auto;
}

.work {
	width:25%;
	margin:2em;
	padding:2em;
	float: left;
	color: #004c45;
}

.do_one, .do_two {
	background-color: #FFF1ED;
}

.do img {
	max-width: 300px;
	display: block;
	margin: auto;
}

.do {
	width:25%;
	margin:2em;
	padding:2em;
	float: left;
	color: #004c45;
}

#splash {
	background:url(../images/cover_image.png) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:750px;
	padding:20px 0;
}